.page-container { /* wraps whole pages */
	padding-top: 20px
}

.image-div-xs-sm { /* after each image in feed, when screen is small */
	margin-bottom:30px;
}

.image-row-div-md-lg { /* after each row of images in feed */
	margin-bottom:20px;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: #086384;
}

.fuse-header { /* page-header normally overrides the h styles */
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: #086384;
}
