.page-container { /* wraps whole pages */
	padding-top: 20px
}

.image-row { /* each row of images in the feed */
	-webkit-margin-after: 20px;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: #086384;
}

.fuse-header { /* page-header normally overrides the h styles */
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: #086384;
}
