{% extends "bootstrap/base.html" %}

{% block styles %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
  <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/> -->
{% endblock %}

{% block title %}
An error occured!
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="panel panel-default panel-warning">
        <div class="panel-heading text-center">
        	<h1><span class="glyphicon glyphicon-warning-sign"></span> Unknown Error</h1></div>
        <div class="panel-body">

	    	<p>Something went wrong!  Sorry about that.</p>
	    	<p>Try heading back <a href="{{ url_for('show_homepage') }}">home</a> instead.</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}