<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
</head>

<body>
<img class="logo" src="/logos/FUSER.png">
<h1> An error occured! </a> </h1>
<hr style="margin:0; padding:0; background-color: #F7D25F; border: 0; height:1px;" />

<div style="text-align: left; padding: 0px">
{% for line in stack_trace %}
<pre>{{line}}</pre><br>
{% endfor %}
</div>

</body>
</html>