{% extends "bootstrap/base.html" %}

{% block styles %}
  {{ super() }}
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:bold">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <meta http-equiv="refresh" content="30"/>
{% endblock %}

{% block title %}
Studio Finstagram
{% endblock %}


{% block content %}
<div class="container page-container">
<div class="row text-center">

<img class="logo" src="/logos/FUSER.png">
<h1 class="page-header fuse-header">Studio Insta </a> </h1>

</div>

{% for chunk in images %}
  <div class="row image-row">
  {% for image in chunk %}
    <div class="col-sm-2 col-xs-1 visible-sm-inline-block visible-xs-inline-block"></div>

    <div class="col-md-4 col-sm-8 col-xs-10">
      <img class="img-thumbnail img-responsive" src="{{ url_for('static', filename=image) }}">
      <div class="image-div-xs-sm visible-sm-inline-block visible-xs-inline-block"></div>
    </div>

    <div class="col-sm-2 col-xs-1 visible-sm-block visible-xs-inline-block"></div>
    <div class="clearfix visible-sm-block visible-xs-block"></div>
  {% endfor %}
  </div>
  <div class="image-row-div-md-lg visible-md-inline-block visible-lg-inline-block"></div>
{% endfor %}

{% endblock %}