
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
  <meta http-equiv="refresh" content="30"/>
  <title>Studio Finstagram</title>
</head>

<body>
<img class="logo" src="/logos/FUSER.png">
<h1> Studio Finsta </a> </h1>
<hr style="margin:0; padding:0; background-color: #F7D25F; border: 0; height:1px;" />

<ul>
{% for image in images %}
  <li><img src="{{ image }}"></li>
{% endfor %}
</ul>

</body>
</html>