{% extends "bootstrap/base.html" %}

{% block styles %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
  <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/> -->
  <meta http-equiv="refresh" content="30"/>
{% endblock %}

{% block title %}
Studio Finstagram
{% endblock %}


{% block content %}
<div class="container" style="padding-top: 20px;">
<div class="row text-center">

<img class="logo" src="/logos/FUSER.png">
<h1 class="page-header"> Studio Finsta </a> </h1>
<!-- <hr style="margin:0; padding:0; background-color: #F7D25F; border: 0; height:1px;" /> -->

</div>

{% for chunk in images %}
  <div class="row" style="-webkit-margin-after: 20px;">
  {% for image in chunk %}
    <div class="col-md-4">
      <img  class="img-thumbnail img-responsive" src="{{ url_for('static', filename=image) }}">
    </div>
  {% endfor %}
  </div>
{% endfor %}

{% endblock %}