
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
  <meta http-equiv="refresh" content="30"/>
</head>

<body>
<img class="logo" src="/logos/FUSER.png">
<h1> Raspberry Pi server </a> </h1>
<hr style="margin:0; padding:0; background-color: #F7D25F; border: 0; height:1px;" />

<ul>
  <li><a href="{{url_for('show_finsta_feed')}}">Studio Finsta</a></li>
  <li><a href="{{url_for('redirect_to_shellinabox')}}">Terminal Access</a></li>
</ul>

</body>
</html>