{% extends "bootstrap/base.html" %}

{% block styles %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
  <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/> -->
{% endblock %}

{% block title %}
  Run the Pi
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 20px;">
<div class="row">
  <div class="col-sm-4 text-right">
    <div class="row">
      <img class="img-responsive pull-right form-group" src="/logos/FUSER.png">
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="{{url_for('show_finsta_feed')}}" target="_blank">
          <img src="{{ latest_image }}" class="img-thumbnail img-responsive"></a>
        </div>
        <div class="panel-footer">
          <div>
            <h2 style="-webkit-margin-before: 0em;"><a href="{{url_for('show_finsta_feed')}}" target="_blank">FUSE Insta</a></h2>
          </div>
          <div>Opens the Insta in a new window.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Code Tips</div>
        <div class="panel-body">
          <div class="list-group">
            <li class="list-group-item">
              <code>ls</code>: list the files in a directory</li>
            <li class="list-group-item">
              <code>cd</code>: go into a folder</li>
            <li class="list-group-item">
              <code>nano</code>: edit a text file</li>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <h2>Run the Pi</h2>
    <div class="well well-sm">
      Run the Raspberry Pi computer from this terminal:
    </div>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="{{url_for('redirect_to_shellinabox')}}"></iframe>
    </div>
</div>
</div>
{% endblock %}
