{% extends "bootstrap/base.html" %}

{% block styles %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
  <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/> -->
{% endblock %}

{% block metas %}
  {{ super() }}
  <meta http-equiv="refresh" content="30"/>
{% endblock %}


{% block title %}
  Run the Pi
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    <img class="logo" src="/logos/FUSER.png">
    <div class="well">      
      <div class="row"><img src="/images/thumbnail.jpg" class="img-thumbnail img-responsive"></div>
      <div class="row"><h2><a href="{{url_for('show_finsta_feed')}}">FUSE Insta</a></h2></div>
      <div class="row"><p>Opens the Insta in a new window.</p></div>
    </div>
    <div class="row">
      <h2>Code Tips</h2>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <code>ls</code>: list the files in a directory</a>
        <a href="#" class="list-group-item">
          <code>cd</code>: go into a folder</a>
        <a href="#" class="list-group-item">
          <code>nano</code>: edit a text file</a>
      </div>
    </div>
  </div>
  <div class="col-sm-8"><a href="{{url_for('redirect_to_shellinabox')}}" target="_blank">Terminal Access</a></div>
</div>
<hr style="margin:0; padding:0; background-color: #F7D25F; border: 0; height:1px;" />
{% endblock %}
